# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
conda-env/
.envs/

# Development tools
.vscode/
.ipynb_checkpoints/

# PyTorch / ML
*.pt
*.pth
*.ckpt

# Logs & cache
logs/
wandb/
runs/

# Data files
out/
train_results/
*.nc
*.npy
*.npz
*.jpg
*.png
*.csv